doctype html 
html(lang="ko")
    //- <!--변수 뒤에 text가 오는 경우 #{variable} / 오로지 그 변수만 쓰는 경우 =variable-->
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1=pageTitle
        main
            block content
    include partials/footer.pug