extends base.pug

block content
    h4 Change Title of video
    form(method="POST")
        input(required, name="title", placeholder="Video Title", value=video.title)
        input(type="submit", value="Save")