extends base.pug

block content 
    if errorMessage
        span=errorMessage
    form(method="POST")
        input(required, placeholder="Title", type="text", name="title")
        input(required, placeholder="Description", type="text", name="description")
        input(required, placeholder="Hashtags, separated by comma.", type="text", name="hashtags")
        input(type="submit", value="Upload Video")